<h2><%= @user.name + "'s" %> profile</h2>

<% if @user == current_user %>
<div class="area">
	<%= content_tag(:big, "My photos")%>
	<%= link_to "Create new photo", new_post_path, class: "btn btn-primary" %>
</div>
<% end %>

<div class="container">
	<table class="table">
		<tr>
			<th>Photo</th>
			<th>Title</th>
			<th>Actions</th>
		</tr>
		<% @user.posts.each do |post| %>
			<tr>
				<td><%= image_tag post.image_url(:thumb).to_s %></td>
				<td><%= post.title %></td>
				<td><%= link_to "Delete", post_path(post), method: :delete if post.user == current_user %></td>
			</tr>
		<% end %>		
	</table>
</div>