<div class="col-md-3 col-sm-6 fixed">
	<span class="thumbnail text-center">
		<%= image_tag post.image_url(:normal).to_s %>
		<h4><%= link_to post.title, post_path(post), class: "text-danger" %></h4>
		<h5>By: <%= link_to post.user.name, user_path(post.user), class: "text-danger" %> </h5>
	</span>
</div>