<h2><%= @post.title %></h2>

<span class="thumbnail text-center">
	<%= image_tag @post.image_url(:huge).to_s %>
	<h4>By: <%= link_to @post.user.name, user_path(@post.user), class: "text-danger" %> </h4>
	<h4>Score: <%= @post.score %> </h4>
</span>

<h2>Add comment:</h2>

<%= render "reviews/form" if current_user != nil %>

<%= render @post.reviews %>