<%= simple_form_for(Review.new, html: { class: 'form-horizontal' }) do |f| %>
	<%= f.input :body, required: true %>
	<%= f.input :rate, collection: 1..5, required: true %>

	<%= f.hidden_field :user_id, value: current_user.id %>
	<%= f.hidden_field :post_id, value: @post.id %>

	<%= f.button :submit %>
<% end %>