<!DOCTYPE html>
<html>
<head>
	<title>Photo Gallery</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<%= link_to "Photo Gallery", root_path, class: 'navbar-brand'%>
				<% if notice %>
				<p class="navbar-text" id="alert"><%= notice %></p>
				<% end %>
				<% if alert %>
				<p class="navbar-text" id="alert"><%= alert %></p>
				<% end %>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></a>
						<ul class="dropdown-menu">
							<li><%= link_to('Profile', user_path(current_user)) %></li>
							<li role="separator" class="divider"></li>
							<li><%= link_to('Settings', edit_user_registration_path) %></li>
							<li role="separator" class="divider"></li>
							<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
						</ul>
					</li>
					<% else %>
					<li><%= link_to('Sign in', new_user_session_path) %></li>
					<li><%= link_to('Sign up', new_user_registration_path) %></li>
					<% end %>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	
	<div class="container">		
		<%= yield %>
	</div>
	<script type="text/javascript">
		$("#alert").delay(2500).fadeOut();
	</script>
</body>
</html>
